@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

body, html {
	background:url(https://i.imgur.com/DtwFpnI.jpg);
	background-size: cover;
	background-color: #474747;
	background-repeat: no-repeat;
 	overflow:hidden;
	overflow-x:hidden;
	height: 100vh;
 	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	font-family: "Times New Roman", Times, serif;
	font-style: 700;
}

a, a:link, a:visited,
a:hover, a:active, a:focus {
	color:inherit;
	text-decoration: none;
	border: 0 none;
}

#time {
	display:inline-block;
	color: white;
	font-family: 'Titillium Web', Sans-serif;
	font-style: 700;

}

#time_wrapper {
	color: white;
	font-family: 'Titillium Web', Sans-serif;
	font-style: 700;

}
.header {
	position: absolute;
	text-align: right;
	right: 0;
	top: 0;
	width: 100%;
	margin-top: 1.7%;
	border-bottom: transparent;
}

.menu {
	background-color: rgba(70,70,75,0.9);
	ext-align: center;
	margin: auto;
    min-width: 100px;
	width:35vh;
	margin-top: 15%;
	border-bottom: transparent;v
	border-left: 2px solid gray;
	border-top: 2px solid gray;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
i}

.menu_button {
	background-color: #46464b;
	text-align: center;
	margin: auto;
	width: 93%;
	max-width: 800px;
	height: 55px;
	line-height: 50px;
	vertical-align: middle;
	border-left: 2px solid gray;
	border-top: 2px solid gray;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	color: white;
	font-family: 'Titillium Web', Sans-serif;
	font-style: 700;
}
.menu_button:hover {
	background-color: #ff9f1b;
	color: black;
}

.menu_button:active {
	background-color: #1e1e21;
	color: white;
}
#menu_header{
	margin: auto;
	margin-bottom: 10px;
	width: 93%;	
	color: white;	
	font-family: 'Titillium Web', Sans-serif;
	font-style: 700;
}
#menu_footer{
	height: 10px;
}
.clock-header {
	position: absolute;
	text-align: center;
	margin: 0;
	top: 0;
	width: 100%;
	border-bottom: transparent;
}
#calendar{ 
	display: none;
	margin: auto;
}
.clock {
	height: 9%;
	width: 9%;
	content:url(/assets/clock/clock.png);
}
@font-face {
     	font-family: 'Titillium Web', Sans-serif;
     	src: url('/fonts/TitilliumWeb-SemiBold.ttf'); 
}

